// =====================================================
// Test Task Styles file
// =====================================================

// Lib imports
// =====================================================
@import "base/core";

// Modules imports
// =====================================================
@import "modules/header";
@import "modules/container";

// Content styles
// =====================================================
html {
  font-size: 10px;  // todo for old browsers
  font-size: 1vh;   // todo for modern browser
}

body {
  background: $primeWhite;
  font-family: $SanFranciscoFF;
  font-size: $baseFont;

  //@include maxScreen($large) {
  //  font-size: $baseFont;
  //}

  @include maxScreen($middle) {
    font-size: $mobileFont;
  }

  @include maxScreen($small) {
    font-size: $mobileFont;
  }
}

// Main Content
// =====================================================
