@font-face {
  font-family: 'SFUI-Regular';
  src:  url('../../fonts/SFUIDisplay-Regular.eot'); /* IE9 Compat Modes */
  src:  url('../../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../../fonts/SFUIDisplay-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../../fonts/SFUIDisplay-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SFUI-Bold';
  src:  url('../../fonts/SFUIDisplay-Bold.eot'); /* IE9 Compat Modes */
  src:  url('../../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/SFUIDisplay-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../../fonts/SFUIDisplay-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}