.icon {
  width: 30px;
  height: 30px;

  display: block;
  font-size: 0;
  fill: #5a5c5d; // Color for usual state of icon

  @include transition();

  &_button {
    cursor: pointer;
  }

  &_inline {
    display: inline-block;
    font-size: 0;
    fill: #5a5c5d; // Color for usual state of icon (duplicated cause class can be named without just Icon)
  }
  
  &_nav {
    width: auto;
    height: 45px;
    
    fill: #5a5c5d;
  }
  
  &_sub-nav {
    width: 22px;
    height: 24px;
  
    display: inline-block;
    font-size: 0;
    fill: #5a5c5d;
  
    @include transition();
  
    &:hover {
      cursor: pointer;
      fill: $primeBlue;
    }
  }
  
  &__checkbox {
    input[type=checkbox] {
      &:not(:checked) + label::after,
      &:checked + label::after {
        width: 30px;
        height: 30px;
      }
    }
  }

  &:hover {
    cursor: pointer;
    fill: $primeRed;
  }
}