// Variables
// =====================================================
// Color Variables
// -----------------------------------------------------
$primeBlack:            #000000;
$primeWhite:            #ffffff;
$primeGreen:            #8ae6cf;
$primeBlue:             #3f71ff;
$primeRed:              #ff203a;

$softGrey:              #f0f0f0;
$opinionGrey:           #e1e1e1;
$oceanGrey:             #ababab;
$starGrey:              #7a7a7a;
$moonBrown:             #2c303d;
$streetGrey:            #181818;
$nextPrev:              #949494;

// Font Variables
// -----------------------------------------------------
$baseFont:              1.6rem;
$tabletFont:            3rem;
$mobileFont:            2rem;

// Border Radius Variables
// -----------------------------------------------------
$baseBorderRadius:      .4rem;
$mobileBorderRadius:    .3rem;
$buttonBorderRadius:    3rem;

// Desktop container
// -----------------------------------------------------
$containerDesktop:      83.5rem;
$containerTablet:       64rem;
$containerMobile:       100%;

// Other
// -----------------------------------------------------
$SanFranciscoFF:      'SFUI-Regular', sans-serif;
$SanFranciscoBoldFF:  'SFUI-Bold', sans-serif;
// =====================================================