//---------------------------------------------------
// Header
//---------------------------------------------------

// Imports
// --------------------------------------------------
@import "userCard";
@import "modalBuyAds";

// Content
// --------------------------------------------------
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;

  align-items: center;
  background: $primeWhite;
  border-bottom: .1rem solid $opinionGrey;
  display: flex;
  justify-content: center;
  padding: 0 1.2rem;

  &__title {
    color: $streetGrey;
    padding: 4rem 0;
    text-transform: uppercase;

    @include font-size(30px);
  }

  .icon_exit {
    position: absolute;
    right: 1.2rem;

    width: 2.5rem;
    height: 2.5rem;

    fill: $primeRed;
  }
}