//---------------------------------------------------
// Modal windows for Buy ADS
//---------------------------------------------------

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;

  width: 100vw;
  height: 100vh;

  align-items: center;
  background: rgba(250,250,250,.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translate(100%, 0);
  transition: transform .4s ease;

  &.active {
    transform: translate(0, 0);

    .modal {
      &__header,
      &__content,
      &__footer {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: 3;
    background: $primeWhite;
  }

  &__header,
  &__content,
  &__footer {
    position: relative;
    z-index: 4;

    opacity: 0;
    transition: all 1.5s ease;
    visibility: hidden;
  }

  &__header {
    margin-top: 7rem;
  }

  &BuyAds {
    padding-top: 11rem;
    text-align: center;

    .modal {
      &__header,
      &__content,
      &__footer {
        transform: translate(-30%,0);
        transition: transform 1s ease;
      }

      &__header {
        font-family: $SanFranciscoBoldFF;
        font-weight: 700;
      }

      &__content {
        margin-top: 8rem;
      }

      &__footer {
        margin-top: 6rem;
      }
    }

    &__title {
      @include font-size(46px);
    }

    &__order {
      color: $primeRed;
      font-size: 5rem;
      margin-top: 0.7rem;
    }

    &__userItem {
      color: $oceanGrey;
      font-family: $SanFranciscoFF;
      font-size: 3.3rem;
      font-weight: 400;
      margin-top: 1.8rem;

      &__name {
        color: $primeBlack;
      }
    }

    .inputItem {
      width: 43rem;
      height: 8rem;

      align-items: center;
      border: .1rem solid $oceanGrey;
      border-radius: $mobileBorderRadius;
      display: flex;
      justify-content: center;
      margin-top: 2.5rem;

      &:first-child {
        margin-top: 0;
      }

      &__field {
        width: 90%;
        height: 70%;

        background: transparent;
        border: 0;

        @include font-size(22px);

        &:focus {
          outline: 0;
        }
      }
    }

    .reservedTime {
      align-items: center;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 4.5rem;

      @include font-size(22px);

      &__title {
        color: $oceanGrey;
      }

      &__value {
        margin-top: 2rem;
      }
    }

    &__makeOrder {
      width: 30rem;

      align-items: center;
      background: $primeRed;
      border-radius: $buttonBorderRadius;
      box-shadow: 0 0 3rem rgba($primeBlack, .4);
      color: $primeWhite;
      display: inline-flex;
      justify-content: center;
      padding: 1.7rem;

      .icon_button {
        fill: $primeWhite;
      }
    }

    .icon_inline {
      width: 2.2rem;
      height: 2.2rem;
    }

    .dropdown {
      position: relative;

      color: $starGrey;

      &__title {
        width: 100%;
        height: 100%;

        align-items: center;
        display: inline-flex;
        justify-content: center;

        &__icon {
          width: 1.8rem;
          height: 1.8rem;

          margin-left: 1.5rem;
          transition: all .4s ease;
        }
      }

      &__container {
        position: absolute;
        top: 100%;

        width: 101%;

        box-shadow: 0 1rem 3rem rgba($primeBlack, .4);
        display: inline-flex;
        flex-direction: column;
        opacity: 0;
        transition: all .4s ease;
        visibility: hidden;
      }

      &__item {
        width: 100%;
        height: 8rem;

        align-items: center;
        background: $primeWhite;
        border: .1rem solid $oceanGrey;
        border-radius: $mobileBorderRadius;
        display: inline-flex;
        justify-content: center;
        transition: background .4s ease;

        &:hover {
          background: $opinionGrey;
        }
      }

      &.active {
        .dropdown {
          &__title {
            &__icon {
              transform: rotate(180deg);
            }
          }

          &__container {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &.active {
      .modal {
        &__header,
        &__content,
        &__footer {
          transform: translate(0, 0);
        }
      }
    }
  }
}