//---------------------------------------------------
// User Card
//---------------------------------------------------

.userItem {
  position: relative;

  height: 100vh;

  align-items: center;
  border-bottom: .1rem solid $opinionGrey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;

  &:after {
    position: absolute;
    bottom: -0.3rem;

    width: 100%;

    border-bottom: .1rem solid $softGrey;
    content: '';
  }

  &__avatar {
    width: 10rem;
    height: 10rem;

    border-radius: 50%;
    box-shadow: 0 0 3rem rgba($primeBlack, .4);
    display: inline-flex;
    margin-top: 17rem;
    overflow: hidden;

    &__img {
      width: 100%;
    }
  }

  &__name {
    margin-top: 4rem;

    @include font-size(52px);
  }

  &__auditory {
    margin-top: 5.4rem;
  }

  &__price {
    margin-top: 2.5rem;
  }

  &__label {
    color: $starGrey;
  }

  &__value {
    margin-top: 2rem;
  }

  &__statistic,
  &__buyAds {
    width: 30rem;

    align-items: center;
    border-radius: $buttonBorderRadius;
    box-shadow: 0 0 3rem rgba($primeBlack, .4);
    color: $primeWhite;
    display: inline-flex;
    justify-content: center;
    padding: 1.7rem;

    .icon_button {
      fill: $primeWhite;
    }

    &__label {
      margin-left: 2rem;
    }

    &:active {
      box-shadow: 0 0 3rem rgba($primeBlack, .1);
    }
  }

  &__statistic {
    background: $primeBlue;
    margin-top: 6.4rem;

    &:active {
      background: darken($primeBlue, 5%);
    }
  }

  &__buyAds {
    background: $primeRed;
    margin-top: 5rem;

    &:active {
      background: darken($primeRed, 5%);
    }
  }

  .icon_inline {
    width: 2.2rem;
    height: 2.2rem;
  }
}